body {
    margin: 0;
    padding: 0;
}
.main-container {
    background-color: wheat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container {
    display: flex;
    width: 540px;
    height: 400px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: white;
}
.left {
    width: 270px;
    height: 400px;
    
}


  .left img {
     width: 270px;
     height: 400px;
     border-top-left-radius: 10px;
     border-bottom-left-radius: 10px;
  }
  .right {
      
      margin: 30px;
      
      background-color: white;
  }
  .right .space {
      letter-spacing: .5em;
      text-transform: uppercase;
      font-size: 16px;
  }
  .btn {
      font-weight: bolder;
      margin: 10px auto 10px auto;
      width: 200px;
      border: 0;
      color: #fff;
      text-align: center;
      padding: 15px 40px;
      border-radius: 10px;
      background-color: rgba(8, 85, 8, 0.775);
  }
  .current-price {
      display: inline;
      color: rgba(8, 85, 8, 0.775) ;
      font-weight: bolder;
  }
  .price {
      display: inline;
      margin-left: 10px;
      text-decoration: line-through;
  }
  .details-para {
    font-size: 14px;
    color: grey;
    line-height: 1.5;
  }
  .right-heading {
      line-height: 1;
  }














  